@import url(./style.css);

/* * {
    outline: 2px solid lime;
} */

body{
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

a {
    text-decoration: none;
    color: var(--clr-secondary);
}

.bold {
    font-weight: 700;
}

.semi-bold{
    font-weight: 600;
}

.extra-line-height{
    line-height: 25px;
}

.txt-capitalized {
    text-transform: capitalize;
}    

button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
        
main {
    padding: 0 50px;
    /* border: 1px solid white; */
}

main > div {
    width: 100%;
    margin-bottom: 35px;
}

.hero{
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;
    /* align-items: start; */

    /* border: 1px solid  white; */
}

.hero .content {
    width: 45%;
}

.hero img {
    width: 40%;
    height: auto;
}

.hero h1 {
    font-size: 64px;
}

.hero h2 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
}

.metrics-section {
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: var(--section-border-radius);
    color: var(--clr-neutral);
    background-color: var(--clr-accent);
    
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.metrics-card {
    background-color: var(--clr-accent-shade);
    padding: 20px 25px;
    border-radius: 10px;
    word-wrap: break-word;
}

.metrics-card p {
    font-size: 14px;
}

.metrics-card h2 {
    font-size: 48px;
    margin-bottom: 5px;
}

.benefits-section div:first-child {
    margin-bottom: 80px;
}

.single-benefit{
    display: grid;
    gap: 60px;
    grid-auto-flow: column;
}

.single-benefit img {
    width: 100%;
    height: auto;
}

.single-benefit h1, .testimonials-section h1 {
    font-size: 36px;
    text-transform: capitalize;
}

.single-benefit p, .testimonials-section p {
    font-size: 26px;
}

.single-benefit p{
    font-size: 16px;
}

.testimonials-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

    padding: 0 25px 25px 25px;
    box-sizing: border-box;
    border-radius: var(--section-border-radius);
    background-color: var(--clr-primary-shade);
}

.testimonials {
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
}

.testimony-card {
    border-radius: 10px;
    /* max-width: 32%; */
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--clr-secondary);
    color: var(--clr-neutral);
}

.testimony-card p{
    font-size: 14px;
    border-radius: 10px;
}

.testimony-card img {
    width: 30%;
    height: auto;
    aspect-ratio: 1/1;
    min-width: 0;
    min-height: 0;
}

.testimony-head {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    grid-template-columns: 80% 20%;
}

.testimonee-container {
    display: flex;
    /* border: 1px solid black; */
}

.testimonee-picture {
    margin-right: 5px;
    aspect-ratio: 1/1;
}

.testimonee-info p {
    color: var(--clr-accent);
}

.quote {
    width: 80% !important;
}

.cta-section {
    box-sizing: border-box;
    padding: 80px 250px;
    text-align: center;
}

.cta-section h1 {
    font-size: 48px;
}

.cta-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer h1{
    font-size: 64px;
}

.top_link{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: var(--clr-accent);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    width: 50px;
    height: 50px;
}