@import url('./style.css');

body{
    background-color: #212121;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.membership_plans{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.head_title{
    color: white;
}

.membership_cart{
    border-style: solid;
    border-color: var(--clr-accent);
    box-shadow: 0px 0px 10px var(--clr-accent);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
    background-color: var(--clr-neutral);
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
}

.price_text{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}

.membership_cart p{
    display: flex;
    flex-direction: column;
}

.features_block{
    margin-bottom: 5px;
    margin-top: 5px;
}

.plan_btn{
    background-color: #dac723;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.plan_btn:hover{
cursor: pointer;
}
.auth_btn {
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
}

.program_type{
    display: flex;
    background-color: white;
    width: 120px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-left: 170px;
}

.type_category{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.selected{
    background-color: #dac723;
    margin: 2px;
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    max-width: 40ch;
}