:root {
    --clr-primary: #212121;
    --clr-primary-shade: #323232;
    --clr-secondary: #ffffff;
    --clr-accent: #dac723;
    --clr-accent-shade: #f1e792;
    --clr-neutral: #000000;
}

html {
    font-family: sans-serif;
}