:root {
    --clr-primary: #212121;
    --clr-primary-shade: #323232;
    --clr-secondary: #ffffff;
    --clr-accent: #dac723;
    --clr-accent-shade: #f1e792;
    --clr-neutral: #000000;
    --section-border-radius: 20px;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styling */
header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    color: white; margin-top: 10%;
    margin-left: 20px; 
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--clr-secondary);
}

.nav-content {
    width: 50%;
}

.nav-content, .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.navbar {
    width: 60%;
}

.authentication-section {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: white;
    border-radius: 10px;
}

header button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-1{
    background-color: var(--clr-accent);
    color: var(--clr-neutral);
}

.button-2{
    background-color: var(--clr-secondary);
    color: var(--clr-neutral);
}

/* footer styling */
footer{
    background-color: #fff;
    margin: 50px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: black !important;
    border-radius: var(--section-border-radius);
}

footer a {
    color: black !important;
}

.right_footer{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right_footer_upper{
    display: flex;
    justify-content: space-evenly; 
}


.right_footer_links{
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
}

.right_footer_lower{
    display: flex;
    justify-content: space-evenly;

}

.right_footer_lower label {
    font-size: 16px;
}

.right_footer_lower p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.footer_right_icons{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 20px;
}

.round_image{
    border-radius: 50%;
    width: 50px;
    background-color: #343538;
}

.left_lower_footer{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
}

.left_footer h1 {
    margin-top: 10%;
    margin-left: 20px;
}

.left_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom:50px ;
}