<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <a href="./home.html" class="logo">
            <img src="../images/gym_logo.png" alt="logo" width="110px" height="100px">
            <h1>Five Gym</h1>
        </a>

        <div class="nav-content">
            <div class="navbar">
                <a href="#">About</a>
                <a href="./membership.html">Membership</a>
                <a href="products.twig">Products</a>
                <a href="#">Contact</a>
            </div>
            <div class="authentication-section">
                <a href="./register.html">
                    <button type="button" class="button-2">Register</button>
                </a>

                <a href="./login.html">
                    <button type="button" class="button-1">Login</button>
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="hero">
            <div class="content">
                <h2>Lorem ipsum dolor sit amet ipsum.</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente nam optio magnam, similique explicabo facere dolor eveniet ducimus veritatis molestias, eos natus est expedita incidunt quod eum, iusto obcaecati aperiam?</p>
                <div class="cta">
                    <button type="button" class="button-1"">Plans</button>
                    <button type="button" class="button-2"">Testimonials</button>
                </div>
            </div>
            <img src="../images/loopGym2.jpg" alt="">
        </div>
        <div class="metrics-section">
            <div class="metrics-card">
                <div class="content">
                    <h2>6,154</h2>
                    <P>gym members since January 2024 - up until now</P>
                </div>
            </div>
            <div class="metrics-card">
                <div class="content">
                    <h2>6,154</h2>
                    <P>gym members since January 2024 - up until now</P>
                </div>
            </div>
            <div class="metrics-card">
                <div class="content">
                    <h2>6,154</h2>
                    <P>gym members since January 2024 - up until now</P>
                </div>
            </div>
            <div class="metrics-card">
                <div class="content">
                    <h2>6,154</h2>
                    <P>gym members since January 2024 - up until now</P>
                </div>
            </div>
        </div>
        <div class="benefits-section">
            <div class="single-benefit">
                <div class="content">
                    <h1>Lorem ipsum odor amet, consectetuer adipiscing elit.</h1>
                    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Mi justo et ex nisl laoreet ipsum. Tellus tristique consequat quam ridiculus vel; ullamcorper pulvinar. Sem est dictum condimentum fames cras interdum condimentum.</p>
                    <ul>
                        <li>Lorem ipsum odor amet, consectetuer adipiscing.</li>
                        <li>Mi justo et ex nisl laoreet ipsum.</li>
                        <li>Tellus tristique consequat quam ridiculus vel; ullamcorper.</li>
                        <li>Lorem Ipsum odor amet.</li>
                    </ul>
                </div>
                <img src="../images/loopGym1.jpg" alt="">
            </div>
            <div class="single-benefit">
                <img src="../images/loopGym1.jpg" alt="">
                <div class="content">
                    <h1>Lorem ipsum odor amet, consectetuer adipiscing elit.</h1>
                    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Mi justo et ex nisl laoreet ipsum. Tellus tristique consequat quam ridiculus vel; ullamcorper pulvinar. Sem est dictum condimentum fames cras interdum condimentum.</p>
                    <ul>
                        <li>Lorem ipsum odor amet, consectetuer adipiscing.</li>
                        <li>Mi justo et ex nisl laoreet ipsum.</li>
                        <li>Tellus tristique consequat quam ridiculus vel; ullamcorper.</li>
                        <li>Lorem Ipsum odor amet.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="testimonials-section">
            <p class="semi-bold">Testimonials</p>
            <h1>What Our Customers Think About Us</h1>
            <div class="testimonials">
                <div class="testimony-card">
                    <div class="testimony-head">
                        <div class="testimonee-container">
                            <img src="../images/man.png" alt="">
                            <!-- <div class="testimonee-picture"></div> -->
                            <div class="testimonee-info">
                                <h3 class="bold">John Miller Doe</h3>
                                <p class="semi-bold">CEO And Co-Founder Of ABC Company</p>
                            </div>
                        </div>
                        <img src="../images/icons/quote.png" alt="" class="quote">                    </div>
                    <div class="testimony-tail">
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vulputate rhoncus facilisis, himenaeos dictumst aptent suscipit. Per praesent at nascetur curae dapibus litora inceptos. Cursus aliquam nostra vitae cursus lobortis erat.</p>
                    </div>
                </div>
                <div class="testimony-card">
                    <div class="testimony-head">
                        <div class="testimonee-container">
                            <img src="../images/man.png" alt="">
                            <!-- <div class="testimonee-picture"></div> -->
                            <div class="testimonee-info">
                                <h3 class="bold">John Miller Doe</h3>
                                <p class="semi-bold">CEO And Co-Founder Of ABC Company</p>
                            </div>
                        </div>
                        <img src="../images/icons/quote.png" alt="" class="quote">                    </div>
                    <div class="testimony-tail">
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vulputate rhoncus facilisis, himenaeos dictumst aptent suscipit. Per praesent at nascetur curae dapibus litora inceptos. Cursus aliquam nostra vitae cursus lobortis erat.</p>
                    </div>
                </div>
                <div class="testimony-card">
                    <div class="testimony-head">
                        <div class="testimonee-container">
                            <img src="../images/man.png" alt="">
                            <!-- <div class="testimonee-picture"></div> -->
                            <div class="testimonee-info">
                                <h3 class="bold">John Miller Doe</h3>
                                <p class="semi-bold">CEO And Co-Founder Of ABC Company</p>
                            </div>
                        </div>
                        <img src="../images/icons/quote.png" alt="" class="quote">                    </div>
                    <div class="testimony-tail">
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vulputate rhoncus facilisis, himenaeos dictumst aptent suscipit. Per praesent at nascetur curae dapibus litora inceptos. Cursus aliquam nostra vitae cursus lobortis erat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-section">
            <div>
                <p class="semi-bold">
                    Tagline
                </p>
                <h1 class="txt-capitalized">Long headline to turn you visitors into users</h1>
                <button type="button" class="button-1">
                    Action
                </button>
            </div>
        </div>
    </main>

    <footer>
        <div class="left_footer">
            <div class="logo lower_logo">
                <img src="../images/gym_logo.png" alt="logo" width="130px" height="100px">
                <h1> Five Gym</h1>
            </div>
            <div class="left_lower_footer">
                <img src="../images/social/facebook.png" alt="icon" width="30px" height="30px">
                <img src="../images/social/instagram.png" alt="icon" width="30px" height="30px">
                <img src="../images/social/whatsapp.png" alt="icon" width="30px" height="30px">
                <img src="../images/social/snapchat.png" alt="icon" width="30px" height="30px">
            </div>
        </div>
        <div class="right_footer">
            <div>
                <a href="#" class="right_footer_links">About us</a>
                <a href="#" class="right_footer_links">Jobs</a>
                <a href="#" class="right_footer_links">Blog</a>
                <a href="#" class="right_footer_links">FAQ</a>
                <a href="#" class="right_footer_links">Privacy policy</a>
            </div>
            <div class="right_footer_lower">
                <img src="../images/social/phone.png" alt="icon" width="30px" height="30px" style="margin-right: 10px; margin-top: 10px;">
                <div class="footer_right_icons">
                    <label>Tel</label>
                    <p>01054874152</p>
                </div>
                <img src="../images/social/email.png" alt="icon" width="30px" height="30px" style="margin-right: 10px; margin-top: 10px;">
                <div class="footer_right_icons">
                    <label>Mail</label>
                    <p>example@gmail.com</p>
                </div>
                <img src="../images/social/location.png" alt="icon" width="30px" height="30px" style="margin-right: 10px; margin-top: 10px;">
                <div class="footer_right_icons">
                    <label>Address</label>
                    <p>5-st Lorem, ipsum dolor.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>