<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/products.css">
    <title>Products</title>
</head>
<body>
    {% include '/components/header.twig' %}

    <main>
        <div class="metadata-section">
            <div>
                <h1>Products</h1>
                <p style="color: gray;">43 products</p>
            </div>
    
            <div class="filters">
                <select name="category-selector" id="category-selector">
                    <option value="pants">pants</option>
                    <option value="shorts">shorts</option>
                    <option value="t-shirts">t-shirts</option>
                    <option value="sweaters">sweaters</option>
                    <option value="shoes">shoes</option>
                    <option value="equipments">equipments</option>
                    <option value="supplements">supplements</option>
                </select>
                <select name="sort-selector" id="sort-selector">
                    <option value="">recommended</option>
                    <option value="">new arrival</option>
                    <option value="">lowest price</option>
                    <option value="">highest price</option>
                </select>
            </div>
        </div>

        <div class="products-container" id="products-container">
            {# products here #}
            <div class="product-card">
                <div class="card-left">
                    <!-- <img src="../images/sweater.png" alt=""> -->
                </div>
                <div class="card-right">
                    <div class="product-info">
                        <h2>Lorem Ipsum Sit</h2>
                        <p>shirts and sweaters</p>
                    </div>
                    <h2><span class="dolor-sign">$</span>49.99</h2>
                    <div class="action">
                        <a href="product_details.twig">
                            <div class="buy-button">
                                <button type="button">Buy Now!</button>
                                <div>&rarr;</div>
                            </div>
                        </a>
                        <button type="button" class="favorite-button">
                            <div>text</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="product-card" id="product-card" style="display: none">
        <div class="card-left">
            <!-- <img src="../images/sweater.png" alt=""> -->
        </div>
        <div class="card-right">
            <div class="product-info">
                <h2 class="product-name">Lorem Ipsum Sit</h2>
                <p class="product-description">shirts and sweaters</p>
            </div>
            <h2 class="product-price"><span class="dolor-sign">$</span>49.99</h2>
            <div class="action">
                <a href="product_details.twig">
                    <div class="buy-button">
                        <button type="button">Buy Now!</button>
                        <div>&rarr;</div>
                    </div>
                </a>
                <button type="button" class="favorite-button">
                    <div>text</div>
                </button>
            </div>
        </div>
    </div>

    {% include '/components/footer.twig' %}
    <script type="module" src="../js/products.js"></script>
</body>
</html>