<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Profile Page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
    {% include '/components/header.twig' %}

    <main>
        <div class="container">
            <h2>Personal Info</h2>
            <div class="profile-layout">
                <form class="profile" action="">
                    <div class="form_attributes">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="John Doe" required value="John Doe">
                    </div>
    
                    <div class="form_attributes">
                        <label for="telephone">Phone Number</label>
                        <input
                            type="tel"
                            pattern="[0-9]{11,}"
                            minlength="11"
                            maxlength="15"
                            required
                            placeholder="Enter at least 11 digits"
                            id="telephone"
                            value="Enter at least 11 digits"
                        />
                    </div>
    
                    <div class="form_attributes">
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender" required>
                            <option value="" disabled selected>Select your gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
    
                    <div class="form_attributes">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            required
                            placeholder="example@gmail.com"
                            id="email"
                            value="example@gmail.com"
                        />
                    </div>
    
                    <div class="submit_and_cancel">
                        <input type="button" value="Cancel" class="cancel">
                        <input type="submit" value="Save" class="submit">
                    </div>
                </form>
    
                <div class="profile-picture">
                    <img src="placeholder.jpg" alt="Profile Picture" id="profile-img">
                    <input type="file" id="upload-btn" accept="image/*">
                </div>
            </div>
        </div>
    </main>

    {% include '/components/footer.twig' %}
</body>
</html>
