<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15%;
        }
    </style>
</head>
<body>
    <p style="font-size: 60px; text-align: center;">
        404 Not Found !
    </p>
</body>
</html>