<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css">
    <title>Register</title>
    <script src="../js/register_dyn.js"></script>
  </head>
  <body>
    <div class="content">
      <form action="/register" method="POST" onsubmit="return validateRegisterInfo()" >
        <h1>The beginning of your story</h1>

        <div class="fields-container">
          <div class="input-field">
            <label for="name">Name</label>
    
            <input type="text" required placeholder="John Doe" id="name" name="name"/>
          </div>
  
          <div class="input-field">
            <label for="gender">Gender</label>
    
            <select id="gender" name="gender" required>
              <option value="" disabled selected>Select your gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div class="input-field">
            <label for="email">Email</label>
    
            <input
              type="email"
              required
              placeholder="example@gmail.com"
              id="email"
              name="email"
            />
          </div>

          <div class="input-field">
            <label for="telephone">Phone number</label>
    
            <input
              type="tel"
              pattern="[0-9]{11,}"
              minlength="11"
              maxlength="15"
              required
              placeholder="Enter at least 11 digits"
              id="telephone"
              name="phone"
            />
          </div>
          
          <div class="input-field">
            <label for="password">Password</label>
    
            <input type="password" required placeholder="Password" id="password" name="password"/>
          </div>
          <div class="input-field">
            <label for="Confirm">Confirm Password</label>
    
            <input
              type="password"
              required
              placeholder="Confirm Password"
              id="Confirm"
              name="Confirm"
            />
          </div>
  
          <input type="submit" value="submit" name="submit"/>
          <input type="reset" value="reset" />
        </div>
  
        <p>already have an account? <a href="./login.html">login</a></p>
      </form>
      
      <!-- <img src="../images/loopGym1.jpg" alt=""> -->

     
      <div class="img">text</div>
    </div>
  </body>
</html>
